<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Survey Form</title>
</head>
<body>
<h1>Midterm Survey</h1>
<form method="POST" action="survey">
    <label for="name">Name: <input type="text" id="name" name="name"></label><br><br>
    <label>Check all that apply:<br>
        <input type="checkbox" id="checkbox1" name="checkbox1">
        <label for="checkbox1">This midterm is easy</label><br>
        <input type="checkbox" id="checkbox2" name="checkbox2">
        <label for="checkbox2">I like midterm</label><br>
        <input type="checkbox" id="checkbox3" name="checkbox3">
        <label for="checkbox3">Today is Monday</label>
    </label><br><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>
